.card {
    width: 600px;
    height: 400px;
    background-color: lightblue;
    border: aqua 2px solid;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.bord {
    border: black 1px solid;
    padding: 3px;
}
.mar {
    margin: 0 auto;
}